@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  @include box-sizing();
}

$gutter: 10px;

.grid-with-padding {

  &:after { /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding: $gutter;
}

[class*='col-']:last-of-type {
  float: right;
  padding-right: $gutter;
}

.col-1-1 {
  width: 100%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-1-8 {
  width: 12.5%;
}

.outline, .outline * {
  border: 1px solid #b3b3b3;
}